$swatch_diameter: 14px;

@mixin swatch($pri_colour, $secondary_colour: '') {
  background-color: $pri_colour;

  @if $secondary_colour != '' {
    &:after {
      position: relative;
      left: $swatch_diameter / 2;
      display: block;
      content: '';
      height: $swatch_diameter;
      width: $swatch_diameter / 2;
      border-radius: 0 ($swatch_diameter / 2) ($swatch_diameter / 2) 0;
      background-color: $secondary_colour;
      transform-origin: 0 50%;
      transform: rotate(45deg);
    }
  }
}

.available-colours {
  float: none; // for some reason all <divs> are floated? this makes life difficult.

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite h[X]` selector
  .available-colours__title {
    font-size: 18px;
    text-transform: uppercase;
  }
}

.available-colours__swatches {
  margin: 20px 0;
  padding: 0;
}

.available-colours__swatch {
  display: inline-block;
  height: $swatch_diameter;
  width: $swatch_diameter;
  margin-right: 4px;
  border-radius: 50%;

  span {
    // hide the label from display, but not screenreaders
    @extend .visuallyhidden;
  }
}

.available-colours__swatch--black  { @include swatch(#000); }
.available-colours__swatch--white  { @include swatch(#fff); }
.available-colours__swatch--gold   { @include swatch(#DAA520); }
.available-colours__swatch--silver { @include swatch(#c0c0c0); }
.available-colours__swatch--red    { @include swatch(#bd1722); }
