.lgBtn {
	behavior: url(/lg/js/pie/PIE.php);
	position:relative;
	width:auto;
	height:30px;
	float:left;
	text-align:center;
	line-height:30px;
	font-weight:bold;
	background-color:#727a7d;
	color:#ffffff;
	margin-right:20px;
	padding:0 20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
}

.lgBtn:hover {
	background-color:#c50037;
	color:#ffffff;
}

.lgBtn--slider {
	background-color:#000000;
	color:#ffffff;
	border:2px solid #ffffff;
}