.lg-button {
  position: relative;
  width: auto;
  height: 30px;
  float: left;
  padding: 0 20px;
  margin-right: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #727a7d;
  color: #fff;
  border-radius: 20px;
  
  &:hover {
    background-color: $lg-red;
  }
}
