.document-download {
  margin: 20px 0 30px 0;
}

.document-download__image {
  float: left;
  width: 25%;
  margin-right: 5%;

  img {
    max-width: 100%;
  }
}

.document-download__details {
  float: left;
  width: 70%;

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite h2` selector
  .document-download__title {
    margin-top: 0;
    font-size: 14px;
    color: $lg-red;
  }
}

.document-download__desc {
  margin-bottom: 20px;
  color: $body-text;
}
