.header {
  position: relative;
  width: 100%;
  padding: 20px 30px;
  margin-top: -15px; // exertis reset to hide the side gradient
  box-sizing: border-box;
  background: #fff;
  @extend .clearfix;
}
