.home-section {
  position: relative;
  margin: 0;
  padding: 60px 0;
  background: #fff;
  overflow-y: hidden;

  // alternate alignment (left/right flip)
  &:nth-child(odd) {
    background: #f1f1f1;

    > .home-section__main {
      float: right;
      margin-right: 40px;
      margin-left: 0;
    }
    > .home-section__aside {
      float: right;
    }
    > .home-section__tagline {
      right: 50px;
    }
  }
}

.home-section__main {
  position: relative;
  float: left;
  width: 480px;
  margin-bottom: 60px; // push off the bottom to give space for tagline bubble
  margin-left: 40px;

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite h[X]` selector
  .home-section__title {
    margin-top: 0;
    height: auto; // fixes issue with exertis height:initial in IE 9
    font-size: 34px;
    color: #000;
  }
}

.home-section__body {
  font-size: 14px;
  line-height: 20px;

  p {
    margin-bottom: 20px;
  }
}

.home-section__aside {
  float: left;
  width: 390px;
  margin: 0 40px;
  text-align: center;
}

.home-section__image {
  max-width: 100%;
  height: auto;
}

// off canvas red circle looking thing
.home-section__tagline {
  position: absolute;
  bottom: -30px;
  right: 470px;
  width: 180px;
  height: 180px;
  padding: 0;
  background-color: $lg-red;
  border-radius: 50%;

  span {
    display: table-cell;
    width: 130px;
    height: 180px;
    padding: 0 25px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
  }
}
