// there's a lot of !important going on in here, but it's neccessary to override
// the highly specified selectors for #ms-nav & .nav in the multi-page framework 

.nav,
.nav.sticky-nav { // .sticky-nav is a multi-page thing that we don't want
  position: relative !important;
  width: 100% !important;
  margin: 0 !important;
  background: #fff !important;
}

.nav__logo {
  float: left;
  margin: 0 !important;
}

.nav__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 !important;
  list-style: none;
}

.nav__item {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0 12px 0 0;

  &:last-child {
    margin-right: 0 !important;
  }
}

.nav__link {
  display: block;
  font-size: 16px !important;
  font-weight: bold !important;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $body-text !important;
  padding: 6px !important;
  outline: 0;

  // can't have BEM name as this class is part of multi-page framework
  &.active {
    color: $lg-red !important;
  }
}

