.page-lead {
  margin-left: 40px;
}

.page-lead__main {
  width: 640px;

  p {
    margin-bottom: 20px;
  }

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite p` selector
  .page-lead__tagline {
    margin-bottom: 20px;
    color: $lg-red;
  }
}
