// raw product - similar module to OOCSS' media object
.product {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $section-background-alt;
  color: #fff;
  border-bottom: 1px solid white;

  // alternate alignment (left/right flip)
  &:nth-child(even) {
    background: $section-background;

    > .product__main {
      float: right;
      margin-right: 40px;
      margin-left: 0;
    }
    .product__aside {
      float: right;
    }
    > .product__features {
      background: #f9f9f9; // fallback for older browsers
      background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 54%, #d9d9d9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#d9d9d9', GradientType=0); // IE6-9
    }
  }
}

.product__main {
  float: left;
  width: 480px;
  margin-left: 40px;

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite h[X]` selector
  .product__title {
    margin-top: 0;
  }

  // this shouldn't really be nested, but neccessary to override
  // `.lg-microsite h[X]` selector
  .product__tagline {
    font-size: 24px;
    color: $lg-red;
  }
}

.product__desc {
  font-size: 14px;
  line-height: 20px;
}

.product__attrs {
  padding: 0;
  margin: 20px 0;
  list-style: none;

  li {
    position: relative;
    padding-left: 36px;
    font-size: 14px;

    &:before {
      position: absolute;
      left: 16px;
      content: "\2022";
      color: $lg-red;
    }
  }
}

.product__aside {
  float: left;
  width: 390px;
  margin: 0 40px;
}

.product__image {
  max-width: 100%;
  height: auto;
}

.product__features {
  position: relative;
  width: 890px;
  padding: 10px;
  margin: 40px 40px 0 40px;
  background: #e9e9e9; // fallback for older browsers
  background: linear-gradient(to bottom, #e9e9e9 0%, #e9e9e9 54%, #c9c9c9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#c9c9c9', GradientType=0); // IE6-9
}

.product__feature {
  padding: 10px;
  height: 42px;
  width: auto;
}
