.read-more__section {
  display: block;
  width: 100%;
  overflow: hidden;
  float: none;
}

.read-more__toggle {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
}
