<div class="promotions grid_25 alpha omega">

  <div class="page-title">
    <h2 class="h1">Promotions</h2>
  </div>
  
  <div class="promotion">
    <img src="images/promotions/none.png" alt="There are no current promotions - please check back later" />
  </div>

</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
