<div class="promotions">
  <div class="grid_25 alpha omega">
    <div class="grid_24 alpha push_1">
      <h1>Promotions</h1>
    </div>
  </div>

  <div class="main grid_25 alpha">
    <div class="promotion">
      <img src="images/promotions/none.png" alt="There are no current promotions - please check back later" />
    </div>
  </div>
</div>

<!-- scripts -->
<script type="text/javascript">

function initPage() {}

</script>
