.grid_25 {
	.section {
		margin-left:0px;
		margin-right:0px;
		padding-bottom:0px !important;
	}
	.news-section {
		padding-bottom: 40px;
		border-bottom: 3px solid #a3a3a3;
		width:100%;
	}
}

iframe#twitter-widget-0{
	min-width:300px !important;
}

ul.products-list {
 	list-style: none;
    //padding-left:30px;
    margin:0; 
	li { 
    	.bullet--margin {
			padding-left:20px !important; 
			display: block;
			margin-top: -15px;
		}
	}

	li:before {
    	content: "\2022";
    	//padding-right:10px;
    	color: #c50037;
	}
}

.logos_grad {
	background: #bfbfbf; /* Old browsers */
	background: -moz-linear-gradient(top,  #bfbfbf 0%, #f9f9f9 2%, #f9f9f9 53%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfbfbf), color-stop(2%,#f9f9f9), color-stop(53%,#f9f9f9), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bfbfbf 0%,#f9f9f9 2%,#f9f9f9 53%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bfbfbf 0%,#f9f9f9 2%,#f9f9f9 53%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bfbfbf 0%,#f9f9f9 2%,#f9f9f9 53%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bfbfbf 0%,#f9f9f9 2%,#f9f9f9 53%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfbfbf', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
} 


.logos_grad-alternate {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #f9f9f9 1%, #f9f9f9 54%, #dcd9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(1%,#f9f9f9), color-stop(54%,#f9f9f9), color-stop(100%,#dcd9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 1%,#f9f9f9 54%,#dcd9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 1%,#f9f9f9 54%,#dcd9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#f9f9f9 1%,#f9f9f9 54%,#dcd9d9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#f9f9f9 1%,#f9f9f9 54%,#dcd9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#dcd9d9',GradientType=0 ); /* IE6-9 */
}

