.grid_25 {
	.section {
		margin-left:0px;
		margin-right:0px;
		padding-bottom:0px !important;
	}
	.news-section {
		padding-bottom: 40px;
		border-bottom: 3px solid #a3a3a3;
		width:100%;
	}
}

iframe#twitter-widget-0{
	min-width:300px !important;
}

ul.products-list {
 	list-style: none;
    //padding-left:30px;
    margin:0; 
	li { 
    	.bullet--margin {
			padding-left:20px !important; 
			display: block;
			margin-top: -15px;
		}
	}

	li:before {
    	content: "\2022";
    	//padding-right:10px;
    	color: #c50037;
	}
}


